<%- include('partials/header') %>


<section id="intro">
        <div class="intro-container text-center wow fadeInUp" data-won-delay="0.1s">
          <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
    
            <ol class="carousel-indicators"></ol>
    
            <div class="carousel-inner" role="listbox">
    
              <div class="carousel-item active">
                <div class="carousel-background"><img src="vl_home3.png" alt=""></div>
                <div class="carousel-container">
                  <div class="carousel-content">
                    <h2>Amor de chocolate, o amor mais doce que existe!</h2>
                    <p>A única barra que eu queria enfrentar na minha vida, é a de chocolate.</p>
                    <a href="/prod" class="btn-get-started scrollto">Iniciar</a>
                  </div>
                </div>
              </div>
    
              <div class="carousel-item">
                <div class="carousel-background"><img src="vl_home2.png" alt=""></div>
                <div class="carousel-container">
                  <div class="carousel-content">
                    <h2>Virtualate, uma explosão de sentimentos em seu paladar</h2>
                    <p>Aquele chocolate que te dá valor: Prestígio. </p>
                    <a href="/prod" class="btn-get-started scrollto">Iniciar</a>
                  </div>
                </div>
              </div>
    
              <div class="carousel-item">
                <div class="carousel-background"><img src="vl_home4.png" alt=""></div>
                <div class="carousel-container">
                  <div class="carousel-content">
                    <h2>Chocolate não faz perguntas,chocolate te entende!</h2>
                    <p>Chocolate é melhor que muita gente.</p>
                    <a href="/prod" class="btn-get-started scrollto">Iniciar</a>
                  </div>
                </div>
              </div>
    
            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
    
            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
    
          </div>
        </div>
      </section><!-- #intro -->

<br><br>
<section id ="team">
<div class="container text-center wow fadeInUp" data-won-delay="0.1s">

    <% if(items.length === 0) { %>
        <p class="alert alert-danger">Não há items</p>
    <% } else { %>
    
        <table>
            <thead>
                <td>nº</td>
                <td>Nome</td>
                <td>Preço</td>
                <td>Quantidade</td>
                <td>Total</td>
                <td>Endereço | Pedido</td>
                <td>Status</td>
                <td></td>
            </thead>
            <tbody>
                <% for (let i = 0; i < items.length; i++) { %>
                    <tr>
                        <td> <%= i+1 %> </td>
                        <td> <a href="/product/<%= items[i].productId %>"><%= items[i].name %></a> </td>
                        <td> R$ <%= items[i].price %></td>
                        <form method="POST">
                            <td> <%= items[i].amount %> </td>
                            <td>R$ <%= items[i].price * items[i].amount %></td>
                            <td> <%= items[i].address %> </td>
                            <td> <%= items[i].status %> </td>
                            <td>
                                <input type="hidden" name="orderId" value="<%= items[i]._id %>">
                                <input type="submit" class="btn btn-danger" value="Cancelar" formaction="/orders/cancel">
                            </td>
                        </form>
                    </tr>
                <% } %>
            </tbody>
        </table>

    <% } %>

</div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<%- include('partials/footer') %>